.community-board-div{
  min-width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100%;
  a{
    color: black;
    text-decoration: none;
  }
  .board-item{
    width: 90%;
    background-color: #ffffff;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    .board-item-hit{
      width: 10%;
      border: 1px solid #b4b4b4;
      border-radius: 10px;
      img{
        width: 100%;
      }
    }
    .board-item-2{
      width: 95%;
      padding-left: 20px;
      flex-direction: column;
      .board-item-2-top{
        font-size: 1.2rem;
        text-align: left;
      }
      .board-item-2-bottom{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        padding-right: 12px;
        margin-top: 5px;
        .write-category{
          font-size: 1rem;
          color: #C0C0C0;
        }
        .write-date{
          height: 24px;
          padding-right: 12px;
          line-height: 24px;
          white-space: nowrap;
          font-size: 1rem;
          color: #C0C0C0;
        }
        .write-writer{
          height: 24px;
          font-size: 1rem;
          padding-right: 12px;
          line-height: 24px;
          white-space: nowrap;
          font-size: 1rem;
          color: rgba(114, 114, 114, 0.69);
        }
      }
    }
  }
}

.comment-leng{
  padding-left: 5px;
  color: #1976d2;
}