.community-board-div{
  margin: 0 auto;
  padding-bottom: 10px;
  width: 100%;
  min-width: 350px;
  a{
    color: black;
    text-decoration: none;
  }
  .board-item{
    width: 90%;
    background-color: #ffffff;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    &.list{
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #dadce0;
    }
    .board-item-2{
      width: 95%;
      padding: 5px;
      flex-direction: column;
      text-align: left;
      .board-item-2-tags{
        color: #919191;
        letter-spacing: -0.5px;
        span {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .summoner-icon{
          width: 24px;
          margin-right: 4px;
        }
        .span-writer{
          font-size: 1.2em;
        }
      }
      .board-item-2-middle{
        font-size: 1.1em;
        margin-bottom: 16px;
        letter-spacing: -1px;
        p{
          color: #919191;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .board-item-2-top{
        font-size: 1.2rem;
        text-align: left;
        padding: 10px 0;
        border-bottom: 1px solid #dadce0;
      }

        .write-date{
          height: 24px;
          padding-right: 12px;
          line-height: 24px;
          white-space: nowrap;
          font-size: 1rem;
          color: #C0C0C0;
        }
        .write-writer{
          height: 24px;
          font-size: 1rem;
          padding-right: 12px;
          line-height: 24px;
          white-space: nowrap;
          font-size: 1rem;
          color: rgba(114, 114, 114, 0.69);
        }
      }
    }
  }

.comment-leng{
  padding-left: 5px;
  color: #1976d2;
}

.dot{
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #f2f2f2;
  margin-right: 6px;
}

#mb-6{
  margin-bottom: 10px;
}

.rti--container{
  background-color: #f2f2f2 !important;
  margin-bottom: 10px;
  border-radius: 4px !important;
  .rti--input{
    background-color: #f2f2f2 !important;
  }
}

.board-item-2-bottom {
  display: flex;
  text-align: left;
  padding-right: 12px;
  margin-top: 5px;
  justify-content: space-between;
  &.detail-tag-list{
    padding: 20px;
    padding-bottom: 0;
  }
  .d-flex-left{
    display: flex;
    flex-direction: row;
  }
  .d-flex-right{
    cursor: pointer;
    span:hover{
      color: #328fef;
    }
  }
  .tags {
    font-size: 1rem;
    margin-right: 8px;
    padding: 0.3em 0.7em;
    border-radius: 6px;
    background-color: #328fef;
    color: #f2f2f2;
    line-height: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.p-10-content{
  padding-top: 10px;
}