.rank-division {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;

  .rank-inner-text{
    font-size: 3rem;
    padding-top: 2rem;
  }

  .rank-1, .rank-2, .rank-3 {
    flex: 1;
    height: 100%;
  }

  .rank-1 {
    .rank-champInfo1{
    }
    .rank-text {
      width: 60%;
      height: 60%;
      background-color: #FFD770;
      margin: 0 auto;
    }
  }

  .rank-2 {
    .rank-champInfo2{
    }
    .rank-text {
      width: 60%;
      height: 50%;
      background-color: #C0C0C0;
      margin: 0 auto;
    }
  }

  .rank-3 {
    .rank-champInfo3{
    }
    .rank-text {
      width: 60%;
      height: 40%;
      background-color: #CD7F32;
      margin: 0 auto;
    }
  }
}